body {
    background-color: #202020;
    color: #ffffff;
    font-family: verdana, tahoma;
    font-size: 14px;    
    margin: 0px;
    border:0px;
    padding:0px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.text-entry {
    margin-top: 10px;
}

.webgl-oscilloscope-table {
    background-color:#404040;
    border:0;
    padding:0;
}

.text-title {
    font-size: large;
    padding: 0px 20px;
}

button {
  background: #505050;
  border: 1px solid #808080;
  color:#ffffff;
  font-size:14px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button:hover {
    background: #404040;
}

.text-input {
    font-size: 14px;
    padding:4px;
    background: #202020;
    background-color: #202020;
    color:#ffffff;
    border: 0px solid;
    border-color: #808080 #808080 #808080 #808080;
}

.dropdown-input {
    margin-top: 10px;
    font-size: 14px;
    padding:4px;
    background: #202020;
    background-color: #202020;
    color:#ffffff;
    border: 0px solid;
    border-color: #808080 #808080 #808080 #808080;
}

.trace00 { color: #ffc040 }
.trace01 { color: #ffffa0 }
.trace02 { color: #a0ffc0 }
.trace03 { color: #40c0ff }
.trace04 { color: #d0a0ff }
.trace05 { color: #ff80c0 }

/* Used by all toggles */

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

/* Light Toggle */

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

/* SKEWED RED-GREEN TOGGLE */

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #F22;
  width: 4em;
  height: 2em;

}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #36d933;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}
