body {
    background-color: #202020;
    color: #ffffff;
    font-family: verdana, tahoma;
    font-size: 14px;    
    margin: 0px;
    border:0px;
    padding:0px;
}

.text-title {
    font-size: large;
    padding: 0px 20px;
}

.webgl-oscilloscope-container {
    background-color:#404040;
    border:0;
}

.userInput {
    font-size: 14px;
    padding:4px;
    background: #202020;
    background-color: #202020;
    color:#ffffff;
    border: 0px solid;
    border-color: #808080 #808080 #808080 #808080;
}

.userInputButtons {
    background: #505050;
    border: 2px solid;
    border-color: #808080;
    color:#ffffff;
    font-size:14px;
}

button {
  background: #505050;
  border: 1px solid #808080;
  color:#ffffff;
  font-size:14px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

button:hover {
    background: #404040;
}

td {
    padding:0;
    border:0
}

.userInputCheckbox {
    color: #ffc040;
    border-color: #808080;
    background: #505050;
    border: 1px solid;
}

.trace01 { color: #ffc040 }
.trace02 { color: #ffffa0 }
.trace03 { color: #a0ffc0 }
.trace04 { color: #40c0ff }
.trace05 { color: #d0a0ff }
.trace06 { color: #ff80c0 }
