body {
    background-color: #202020;
    color: #ffffff;
    font-family: verdana, tahoma;
    font-size: 14px;    
    margin: 0px;
    border:0px;
    padding:0px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.webgl-oscilloscope-table {
    background-color:#404040;
    border:0;
    padding:0;
}

.text-title {
    font-size: large;
    padding: 0px 20px;
}

.trace00 { color: #ffc040 }
.trace01 { color: #ffffa0 }
.trace02 { color: #a0ffc0 }
.trace03 { color: #40c0ff }
.trace04 { color: #d0a0ff }
.trace05 { color: #ff80c0 }
